<!DOCTYPE html>
<html>
    <head>
        <title>angular.js</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='https://cdn.bootcss.com/angular.js/1.6.6/angular.min.js'></script>
    </head>
    <body>
        <div ng-app="testApp" ng-controller="TestController">
            <p>名字 : <input type="text" ng-model="name"></p>
            <h1>Hello {{ getName() }} !!!</h1>
            <button ng-click="onDIVClick()">change to Flyme</button>
        </div>
    </body>
    <script>
        var testApp = angular.module('testApp', []);
        testApp.controller('TestController', function ($scope) {
            $scope.name = 'MEIZU';
            $scope.onDIVClick = function () {
                $scope.name = 'Flyme';
            };
            $scope.getName = function() {
                $scope.name = $scope.name + ' +1';
                return $scope.name;
            }
        });
    </script>
</html>
